*{
  margin: 0;
  font-family: Raleway;
}

span{
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  margin: 8px 0 64px 0;
}

h1 {
  font-size: 96px;
  font-weight: bold;
}

h2 {
  font-size: 80px;
  font-weight: bold;
  color: #9f0908;
  margin-bottom: 64px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

table, th,td {
  border-collapse: collapse;
}

h3,
th {
  font-size: 56px;
  font-weight: bold;
  font-family: economica;
  padding-bottom: 16px;
}

td {
  font-size: 32px;
  font-weight: bold;
  font-family: Raleway;
  color: #675e54;
  padding-bottom: 8px;
}

/* ÜBERSCHRIFTEN ENDE*/

.flower {
  position: absolute;
  height: 64px;
  margin-left: 160px;
  margin-top: 24px;
}

.top-con {
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url(./img/1_hero/JPG/hero_bg.jpg);
  background-position: bottom;
  background-size: cover;
}

.headline {
  width: 100%;
  margin-top: 160px;
  color: white;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Top Menü Design */
.top-menu {
  margin-top: 38px;
  position: absolute;
  display: flex;
  justify-content: end;
  align-items: center;
  right: 160px;
  gap: 50px;
}

.top-menu a {
  font-size: 24px;
  color: white;
  text-decoration: none;
}

.phone-btn {
  background-color: red;
  border: 3px solid white;
  border-radius: 10px;
  padding: 3px;
  display: flex;
  align-items: center;
}

/* ENDE TOP*/

/*START ORDER*/

.order-section{
  margin: 120px 0;
}

.order-con {
  margin-bottom: 120px;
}

.order-img {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 160px;
  margin-right: 160px;
}

.order-text {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 160px;
  margin-right: 160px;
  text-align: center;
}

/* ORDER ENDE */

/* OUR MENU START */

.menu-section {
  width: auto;
  padding: 120px 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(./img/3_section_our_menu/JPG/section_our_menu_bg.jpg);
  background-position: bottom;
  background-size: cover;
}

.tonkatsu {
  margin-bottom: 56px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 80px;
  align-items: center;
}

.spicy {
  margin-bottom: 56px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  gap: 80px;
  align-items: center;
}

.shio {
  margin-bottom: 56px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 80px;
  align-items: center;
}

/* MENU END */
/* LOCATION START */

.location-section{
  padding-top: 120px;
}

.location-section h2{
  margin-bottom: 8px;
}

.googlemaps{
  width: 100%;
  height: 600px;
}

/*FOOTER START*/
footer{
  display: flex;
  align-items: center;
  background-color: #0a141e;
  height: 144px;
  justify-content: space-between;
  padding: 0  160px;
}

.footer-img{
  height: 44px;
}

.footer-links{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;

}

.footer-links img{
  width: 40px;
}



