body{
    margin: 0;
    font-family: Raleway;
    max-width: 1440px;
    min-width: 1440px;
}

h1{
    font-size: 96px;
    font-weight: bold;
}



.top-br{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 1440px;
    height: 100vh;
}

.flower{
    position: absolute;
    height: 64px;
    margin-left: 160px;
    margin-top: 24px;
}

.top-con{
    display: flex;
    justify-content: center;
    height: 100vh;
}

.headline{
    margin-top: 160px;
    position: absolute;
    color: white;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
/* Top Menü Design */
.top-menu{
    margin-top: 38px;
    position: absolute;
    display: flex;
    align-items: center;
    right: 160px;
    gap: 50px;
}

.top-menu a {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.phone-btn{
    background-color: red;
    border: 3px solid white;
    border-radius: 10px;
    padding: 3px;
    display: flex;
    align-items: center;
}

.order-con{
    position: absolute;
    margin-top: 120px;
    
}

